<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Birthday List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/listBdays_custom.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.0.7/jquery.mCustomScrollbar.css" type="text/css" >
    //<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.css ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>  
    <script src="/js/main.js"></script>    
</head>
<body class="listColumn">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
		<div class="bdayList">
			<h1> <%= title %></h1>
        </div>
		
        <div class="list">
		
			<!-- <div class="container blackbg gradient1">		-->        
 	        	<div class="content">
                   <% 
                      var monthStrings = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                      function convertMMtoStr(mm) {
                        return monthStrings[mm - 1];
                      }
                   %>
                   <% for (var i = 0; i < bDays.length; i++) { %>
                      <% var monthStr = convertMMtoStr(bDays[i].bDayMM); %>
                      <p id="BdayID<%= bDays[i]._id%>"><%= bDays[i].FirstName %> <%= bDays[i].MiddleInit %> <a id="<%=  bDays[i]._id %>" class="bold gold" href="/editBdayRoute/?target=<%=  bDays[i]._id %>" title ="View/Edit/Delete"><%= bDays[i].LastName %></a> : <span class="dateStr"> <%= bDays[i].bDayYYYY %> <%= monthStr %> <%= bDays[i].bDayDD %></span></p> 
			       <% } %>
               
                </div> <!-- content  -->
            			   
			
                <div class="navDiv">       	
                   <form id="navMenuForm" class="navMenuForm" action="" method="post">
                      <div class="navMenu">
                            <div class="navMenuElements">
                               <input id="homeBtn" class="homeBtn" type="button" value="Home" name="home" title="Go Home" >
                               <input id="addName" class="addName" type="button" value="Add" name="add" title="Add Name" >                                
                               <input id="searchBday" class="searchInput" type="search" name="target" placeholder="Search" title="Search for Name">
                               <input id="submitButton" class="submitButton" name="submit" type="image" src="../images/searchtool.png"     alt="Submit">
                            </div>
                      </div> 
                   </form>
                </div>  <!-- navDiv -->
           </div>   <!-- container gradient -->
		</div>  <!-- list -->
		  
        <div class="messages"></div>
    	
	   <script>
        $(window).on('load',function(){
          list();       
	      
          var thisHost = window.location.host; 
          $("#homeBtn").click(function(event){
            $(".highlight").removeClass("highlight"); // in case a search had been done leaving a hilited sirname                                               
            window.location.replace("http://" + thisHost + "/main");
          });
          $("#addName").click(function(event) {
            $(".highlight").removeClass("highlight"); // in case a search had been done leaving a hilited sirname
            var thisHost = window.location.host;
            window.location.replace("https://" + thisHost + "/addBdayRoute");
          });
          $("#navMenuForm").submit(function(event) {           
              event.preventDefault();
              var searchData = $("#searchBday").val(), jqxhr; 
              if (!searchData) {
                  $(".messages").addClass('pinkClass').text("Must enter Name").fadeOut(2000, function(){
                      $(this).removeClass('pinkClass').empty().show();                              
                  });                        
                  return; 
              }
              jqxhr = $.ajax({               
                  'headers' : {'Content-Type' : 'application/json'},
                  'processData' : false,            
                  type: 'POST',
                  data : JSON.stringify({'target' : searchData}), // data to be sent to server
                  dataType: "text",  // type data expected back
                  url: "/searchBdays"              
                  }).done(function(returnedID) {
                      if (returnedID === "No match") {
                          $(".messages").addClass('pinkClass').text(returnedID).fadeOut(5000, function(){
                              $(this).removeClass('pinkClass').empty().show(); 
                          });
                          $("#searchBday").val("");                         
                      } else {                    
                          var position = "#BdayID" + returnedID; // <p> element has id of "BdayID" + returnedID
                          $("#BdayID" + returnedID).addClass("highlight"); // anchor link has id=returnedID
                          $(".messages").text("");                          
                          $(".content").mCustomScrollbar("scrollTo", position);
                          $("#searchName").val("");                                
                     }
                  }).fail ( function (jqxhr, status, error) {
                      alert("error: " + error + " status: " + status + " jqxhr.responseText: " + jqxhr.responseText + " at line 158 listNuts.ejs");
                  });  
              }); /* navMenuForm submit */ 
        });       /* window load */          
    </script>
  </body>
</html>