<!doctype html>
<html>
	<head>
    <TITLE>List Nuts</TITLE>
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

	<body class="list">
 		<div class="carsonsContainer">
 	      <div class="numNutsDiv">
 	      	<h1 class="listTitle">Mr Carson's Book</h1>
 	      	<p class="numNuts">Number in Cast: <%= numNuts %></p>
 	      </div> <!-- class="numNutsDiv" -->
 	      <!-- <div id="editHint"><p>Click Family Name to Edit</p></div> 			 -->
 	      <div class="content">
 	         
 	          	<table class="carsonsTable">
 	          		<% for (var i = 0; i < nuts.length; i++) { %>
 	          			<tr><td class="icons"><%= nuts[i].SirName %>        <a href="editNut?target=<%=nuts[i]._id %>"><i class="fa fa-pencil-square-o" title="Edit"></i></a>  <a href="deleteNut?target=<%=nuts[i]._id %>"><i class="fa fa-trash" title="Delete"></i></a></td></tr>
 	          			<tr><td><%= nuts[i].Names %></td></tr>
<!-- 					<tr><td><%= nuts[i].FormalNames %></td><td></td></tr> -->
						<tr><td><i class="fa fa-child" title="Progeny"></i>       <%= nuts[i].Children %></td></tr>
						<tr><td class="blue"><i class="fa fa-home" title="Address"></i>       <%= nuts[i].Addr1 %></td></tr>
						<tr><td class="blue">        <%= nuts[i].Addr2 %></td></tr>
						<tr><td class="blue">        <%= nuts[i].Addr3 %></td></tr>
						<tr><td class="blue">        <%= nuts[i].Addr4 %></td></tr>
						<tr><td class="red"><i class="fa fa-envelope-o fa" title="Email"></i>      <%= nuts[i].Email1 %></td></tr>
						<tr><td class="red">        <%= nuts[i].Email2 %></td></tr>
						<tr><td class="red">        <%= nuts[i].Email3 %></td></tr>
						<tr><td class="green"><i class="fa fa-phone" title="Phone"></i>       <%= nuts[i].Phone1 %></td></tr>
						<tr><td class="green">        <%= nuts[i].Phone2 %></td></tr>
						<tr><td ><i class="fa fa-pencil" title="Notes"></i>       <%= nuts[i].Notes %></td></tr>
						<!-- <tr><td class="maroon">Created:<% var dc = nuts[i].Created.toString().slice(0,15).replace(/-/g,""); %><%= dc %></td></tr> -->
						<tr><td class="maroon">Updated:<% var ud = nuts[i].Updated.toString().slice(0,15).replace(/-/g,""); %><%= ud %></td></tr>
						<tr><td>..............................</td></tr>
					<% } %>
				</table>		
 	                   
 	      </div> <!-- class="content" -->
 		</div>   <!-- class="carsonsContainer" -->
    </body>      <!-- class="list" -->
</html> 	